body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

h1 {
    color:red;
}

.bookcover {
    height: 300px;
    width: auto;
}

#bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}